@attribute [Authorize]
@inject NavigationManager NavManager;
@using AppliedAccounts.Data
@inject IConfiguration Config;

@code {
    public Globals? AppGlobals { get; set; }
    public string? BusinessPic { get; set; }
    protected override void OnInitialized()
    {
        AppGlobals = new(Config);
        BusinessPic = $"{AppGlobals.ImagesPath}/Accounts3.jpg";
    }
}
<div class="HomeDiv">
   

</div>


<style>
    .HomeDiv{
        width:100%;
        Height:100%;
        background-image:@BusinessPic;
    }

    .HomePic{
        object-fit:fill;

    }

</style>