@layout HomeLayout
@attribute [Authorize]
@inject NavigationManager NavManager;
@using AppliedAccounts.Data
@using AppliedAccounts.Services
@using AppliedAccounts.Pages.Dashboard;
@inject GlobalService AppGlobal;

@code {
    public string? BusinessPic { get; set; }
    protected override void OnInitialized()
    {
        BusinessPic = $"{AppGlobal.AppPaths.ImagesPath}/Accounts3.jpg";
        Database_Patches DBPatches = new(new AppliedDB.DataSource(AppGlobal.AppPaths));
    }
}

<style>
    .layout {
        display: flex;
        height: 100vh; /* optional if you want full height */
    }

    .part-1 {
        width: var(--sidebarMin_Width);
        background-color: #f5f5f5; /* optional */
    }

    .part-2 {
        flex: 1; /* fills remaining space */
        padding: 1rem; /* optional */
    }
</style>


<div class="container-fluid">
    <div class="row">
        <div class="part-1">
            <NavMenu></NavMenu>
        </div>
        <div class="part-2">
            @if (AppGlobal.UserID == "CDC")
            {
                <HomeDBoard/>
            }
            else
            {
                <p>I am not CDC</p>
            }
        </div>
    </div>
</div>



