@attribute [Authorize]
@inject NavigationManager NavManager;
@using AppliedAccounts.Data
@using AppliedAccounts.Services
@inject GlobalService GlobalService;

@code {
    public GlobalService AppGlobal { get; set; }
    public string? BusinessPic { get; set; }
    protected override void OnInitialized()
    {
        AppGlobal = GlobalService;
        BusinessPic = $"{AppGlobal.AppPaths.ImagesPath}/Accounts3.jpg";
    }
}
<div class="HomeDiv">
   

</div>


<style>
    .HomeDiv{
        width:100%;
        Height:100%;
        background-image:@BusinessPic;
    }

    .HomePic{
        object-fit:fill;

    }

</style>