@layout HomeLayout
@attribute [Authorize]
@inject NavigationManager NavManager;
@using AppliedAccounts.Data
@using AppliedAccounts.Services
@using AppliedAccounts.Pages.Dashboard;
@using AppliedAccounts.Pages.Menu
@using Menus
@inject GlobalService AppGlobal;

@code {
    public string? BusinessPic { get; set; }
    public MenusClass AppMenus { get; set; } = new MenusClass();
    protected override void OnInitialized()
    {
        BusinessPic = $"{AppGlobal.AppPaths.ImagesPath}/Accounts3.jpg";
        Database_Patches DBPatches = new(new AppliedDB.DataSource(AppGlobal.AppPaths));
    }
}

<style>
    .layout {
        display: flex;
        height: 100vh; /* optional if you want full height */
    }

    .part-1 {
        width: var(--sidebarMin_Width);
        background-color: #f5f5f5; /* optional */
    }

    .part-2 {
        flex: 1; /* fills remaining space */
        padding: 1rem; /* optional */
    }
</style>


<div class="container-fluid">
    <div class="row">
        <div class="part-1">
            <MainMenu MenuClass="AppMenus"/>
        </div>
        <div class="part-2">
            @if (AppGlobal.UserID == "CDC")
            {
                <HomeDBoard/>
            }
            else
            {
                <p>Welcome Applied Accounts V2<a href="#"></a></p>
                <p>Home Page Authorized<a href="#"></a></p>
            }
        </div>
    </div>
</div>



