@attribute [Authorize]
@inject NavigationManager NavManager;
@using AppliedAccounts.Data
@using AppliedAccounts.Services
@inject GlobalService AppGlobal;

@code {
    
    public string? BusinessPic { get; set; }
    protected override void OnInitialized()
    {
        BusinessPic = $"{AppGlobal.AppPaths.ImagesPath}/Accounts3.jpg";
        Database_Patches DBPatches = new(new AppliedDB.DataSource(AppGlobal.AppPaths));
    }
}
<div class="HomeDiv">
   

</div>


<style>
    .HomeDiv{
        width:100%;
        Height:100%;
        background-image:@BusinessPic;
    }

    .HomePic{
        object-fit:fill;

    }

</style>