@page "/Menu/Accounts"
@attribute [Authorize]
@inject GlobalService AppGlobal


@code {
    public Menus.MenusClass MenusClass { get; set; }

    protected override void OnInitialized()
    {
        MenusClass = new();
        var _AccountMenu = MenusClass.GetMenu(2);
        MenusClass.TopSelected(_AccountMenu!, true);
    }
}

<div class="container-fluid">
    <div class="row">
        <div class="part-1">
            <MainMenu MenuClass="MenusClass" />
        </div>
        <div class="part-2">

            <p>Welcome Applied Accounts V2<a href="#"></a></p>
            <p>Accounts Page Authorized<a href="#"></a></p>
        </div>
    </div>
</div>

<p>Transaction Menu</p>