@page "/Menu/Accounts"
@attribute [Authorize];
@inject NavigationManager NavManager;
@inject Globals _Global;
@using AppliedAccounts.Models;
@using ExcelDataReader
@using System.Data


@code {
    public Globals? AppValues { get; set; }
    public MenuCardModel? CardMenuModel { get; set; }
    public string COAText = "A chart of accounts is a documents that list all the transactions.";
    public string ClassText = "Classification of accounts are groups of chart of accounts.";
    public string CategoryText = "Category of Accounts are gategory of charts of accounts";
    public string NotesText = "Notes to the financial Accounts.";
    public string ImportText = "Import an excel file and generate sales invoice";
    public string CashBookText = "Daily cash transactions.";
    public string BankBookText = "Daily bank transactions.";
    public string ReceiptText = "Receipts";
    public DataSet MyDataset = new();


    protected override void OnInitialized()
    {
        AppValues = _Global;
        CardMenuModel = new() { TextMsg = "", NavTo = "", PicPath = "" };
    }

    public void LoadFiles()
    {
        NavManager.NavigateTo("/DownLoad");
    }

    public void SetDataSet(DataSet? _DataSet)
    {
        int Count = 0;
        if (_DataSet is not null)
        {
            Count = _DataSet.Tables.Count;
        }
    }
}

<div class="container-fluid mt-1">
    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                Directories
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/Accounts/COA1">Chart of Accout</a></li>
                <li><a class="dropdown-item" href="/Accounts/COAClass">Accounts Class</a></li>
                <li><a class="dropdown-item" href="/Accounts/COANature">Accounts Nature</a></li>
                <li><a class="dropdown-item" href="/Accounts/COANotes">Accounts Notes</a></li>
            </ul>
        </div>
       

        <div class="btn-group" role="group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                Reports
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/Reporting/GL">General Ledger</a></li>
                <li><a class="dropdown-item" href="#">Expense Sheet</a></li>
                <li><a class="dropdown-item" href="#">Trial Balance</a></li>
                <li><a class="dropdown-item" href="#">Project Balance</a></li>
                <li><a class="dropdown-item" href="#">Accounts Receivable</a></li>
                <li><a class="dropdown-item" href="#">Accounts Payable</a></li>
            </ul>
        </div>
        <button type="button" class="btn btn-primary">Cash Book</button>
        <button type="button" class="btn btn-primary">Bank Book</button>
        <button type="button" class="btn btn-primary">Import</button>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-4">
            <MenuCard Message=@COAText NavTo="/Accounts/COA1" PicPath="./Images/Cards/COA.jpg" />
            <MenuCard Message=@ImportText NavTo="/ImportData/ImportSalesInvoice" PicPath="./Images/Cards/ImportExport.png" />
        </div>
        <div class="col-md-4">
            <MenuCard Message=@ClassText NavTo="/Accounts/COAClass" PicPath="./Images/Cards/COANature.png" />
            <MenuCard Message=@CategoryText NavTo="/Accounts/COANature" PicPath="./Images/Cards/COACategory.png" />
            <MenuCard Message=@NotesText NavTo="/Accounts/COANotes" PicPath="./Images/Cards/COANotes.png" />
        </div>
        <div class="col-md-4">
            <MenuCard Message=@CashBookText NavTo="/Accounts/BooksList" PicPath="./Images/Cards/CashbookPencil.jpg" />
            <MenuCard Message=@ReceiptText NavTo="/Accounts/ReceiptList" PicPath="./Images/Cards/Receipt.jpg" />
        </div>
    </div>
</div>


@if (MyDataset.Tables.Count > 0)
{
    <table>
        <thead>
            <tr>Col 1</tr>
            <tr>Col 2</tr>
            <tr>Col 4</tr>
            <tr>Col 1</tr>
        </thead>
        <tbody>
            @foreach (DataRow row in MyDataset.Tables[0].Rows)
            {
                <tr>
                    <td>@row[row.Table.Columns[0].ColumnName]</td>
                    <td>@row[row.Table.Columns[1].ColumnName]</td>
                    <td>@row[row.Table.Columns[2].ColumnName]</td>
                    <td>@row[row.Table.Columns[3].ColumnName]</td>
                </tr>
            }
        </tbody>
    </table>
}



