


.btn-Menu {
    display: block;
    width: calc(var(--sidebar-width) - 20px);
    text-align: left;
    padding: 10px 15px;
    border: none;
    background: none;
    font-size: 16px;
    color: #1b00d4;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .3) 0 5px 15px;
    box-sizing: border-box;
    cursor: pointer;
    font-family: "Exo 2", sans-serif; /*Montserrat, sans-serif;*/
    margin: 5px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    min-width: 120px;
    max-width: 120px;
}

    .btn-Menu:hover {
        transform: rotate(5deg); /* Rotates the button by 15 degrees */
        background-color: #d8e3ed;
        color: #000;
    }


.sidebar {
    min-width: var(--sidebarMin_Width);
    max-width: var(--sidebarMax_Width);
    height: 100vh;
}

.mw {
    min-width: var(--sidebarMnu_Width);
    max-width: var(--sidebarMnu_Width);
}

.subMenu {
    min-width: var(--sidebarMnu_Width);
    max-width: var(--sidebarMnu_Width);
    margin-left: 25px;
    margin-bottom: 0px;
    margin-top: 0px;
    color: darkred
}