@layout HomeLayout
@page "/"
@using AppliedDB;
@attribute [AllowAnonymous];
@inject IJSRuntime js;

<PageTitle>Index</PageTitle>

@code {
    [CascadingParameter]
    private Task<AuthenticationState>? AppAuthState { get; set; }
    private Task<AppUserModel>? UserProfile { get; set; } 
    private string _Message = string.Empty;
    private AppliedDB.Connections _Conn = new(); 
    public string UserName { get; set; } = string.Empty;

    private async Task DisplayGreetingMessage()
    {

        if (AppAuthState != null)
        {
            var authState = await AppAuthState;
            UserName = authState.User.Identity.Name ?? "";
            string MyMessage = $"Hello {UserName}";
            await js.DInvokeVoidAsync((window, c) => window.alert(c), MyMessage);
        }
    }
}

<AuthorizeView>
    <Authorized>
        <header>
            <AppHeader />
        </header>
        <NavMenu/>
        <AppliedAccounts.Pages.HomePage.HomePageAuthorized/>
    </Authorized>
    <NotAuthorized>
        <AppliedAccounts.Pages.HomePage.HomePageNotAuthorized/>
    </NotAuthorized>
    <Authorizing>
        <h3>Wait......</h3>
    </Authorizing>
</AuthorizeView>
