<footer class="footer">
    <div class="container-fluid h-100 d-flex justify-content-center align-items-center">
        <div class="row">
            <div class="col">
                Applied Software House V2.1.3
            </div>
        </div>

    </div>
</footer>

<style>
    .footer {
        opacity: .2;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 40px; /* Set the height of the footer */
        background-color: #f8f9fa; /* Light background color */
        border-top: 1px solid #dee2e6; /* Subtle top border */
    }
</style>