@using AppliedAccounts.Data;
@using System.Security.Claims;

@inject AuthenticationStateProvider authStateProvider;

@code {
    private AppliedDB.AppUserModel AppUser { get; set; }
    private string? AppUserName { get; set; }
    private string? CompanyName;

    protected override void OnInitialized()
    {
        AppUser = ((UserAuthonticationStateProvider)authStateProvider).AppUser;
        CompanyName = AppUser.Company;
        AppUserName = AppUser.DisplayName;
    }

    public string GetCompanyName() { return AppUser.Company; }
    public string GetAppUserName() => AppUser.DisplayName;



}

<style>
    .merienda-font {
        font-family: "Merienda", cursive;
        font-optical-sizing: auto;
        font-weight: 900;
        font-style: normal;
    }
</style>

<div class="AppHeader">

    <div class="AppTitle merienda-font">
        <h3>@GetCompanyName()</h3>
    </div>
</div>

<div class="SubHeading">
    <AuthorizeView>
        <Authorized>
            <h5 class="SubHeading">Hello @GetAppUserName()</h5>
        </Authorized>
        <NotAuthorized>
            <h5 class="SubHeading">Hello Guest!</h5>
        </NotAuthorized>
    </AuthorizeView>
    <a href="/">Home</a>
</div>
