@using AppliedAccounts.Data;
@using System.Security.Claims;
@inject NavigationManager NavManager;

@inject AuthenticationStateProvider Authorized;

@code {
    private AppliedGlobals.AppUserModel AppUser { get; set; }
    private string? AppUserName { get; set; }
    private string? CompanyName;

    protected override void OnInitialized()
    {
        AppUser = ((UserAuthenticationStateProvider)Authorized).AppUser;
        CompanyName = AppUser.Company;
        AppUserName = AppUser.DisplayName;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await Task.Run(() =>
        {
            AppUser = ((UserAuthenticationStateProvider)Authorized).AppUser;
            CompanyName = AppUser.Company;
            AppUserName = AppUser.DisplayName;
            InvokeAsync(() => StateHasChanged());

        });
    }
    public string GetCompanyName() { return AppUser.Company ?? ""; }
    public string GetAppUserName() => AppUser.DisplayName ?? "";
    public void GoHome() { NavManager.NavigateTo("/"); }
}

<header class="navbar sticky-top bg-dark flex-md-nowrap p-0 shadow sticky-top" data-bs-theme="dark">
    <div class="logo-img" @onclick="GoHome">
        <img src="Images/ASH3.png" class="img-thumbnail brand-Width" alt="..." title="Go Home" />
    </div>
    <div class="text-white font-monospace p-2 fs-3">APPLIED ACCOUNTS 2</div>

    <div class="ms-auto d-flex align-items-center">

        <AuthorizeView>
            <NotAuthorized>
                <Btn_Login />
            </NotAuthorized>
            <Authorized>
                <div class="justify-content-end text-white">
                    @GetCompanyName()
                </div>
                <div class="p-1">
                    <span class="p-2 rounded-circle"
                          type="button"
                          data-bs-toggle="offcanvas"
                          data-bs-target="#offcanvasRight"
                          aria-controls="offcanvasRight">
                        <i class="bi bi-gear text-white"></i>
                    </span>
                </div>
            </Authorized>
        </AuthorizeView>
    </div>
</header>


<style>
    .navbar {
        max-height: var(--navbar_Size);
    }

    .brand-Width {
        min-height: var(--navbar_Size);
        max-width: var(--navbar_Size);
    }

    .sidebar-width {
        max-height: var(--sidebarMin_Width);
        max-width: var(--sidebarMax_Width);
    }

</style>

