@using AppliedAccounts.Data;
@using System.Security.Claims;

@inject AuthenticationStateProvider Authorized;

@code {
    private AppliedGlobals.AppUserModel AppUser { get; set; }
    private string? AppUserName { get; set; }
    private string? CompanyName;

    protected override void OnInitialized()
    {
        AppUser = ((UserAuthenticationStateProvider)Authorized).AppUser;
        CompanyName = AppUser.Company;
        AppUserName = AppUser.DisplayName;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await Task.Run(() =>
        {
            AppUser = ((UserAuthenticationStateProvider)Authorized).AppUser;
            CompanyName = AppUser.Company;
            AppUserName = AppUser.DisplayName;
            InvokeAsync(() => StateHasChanged());

        });
    }
    public string GetCompanyName() { return AppUser.Company ?? ""; }
    public string GetAppUserName() => AppUser.DisplayName ?? "";
}

<header class="navbar sticky-top bg-dark flex-md-nowrap p-0 shadow" data-bs-theme="dark">
    <div class="logo-img">
        <img src="Images/ASH3.png" class="img-thumbnail" alt="..." />
    </div>
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6 text-white"
       href="/">@GetCompanyName()</a>
    @* <ul class="navbar-nav flex-row d-md-none">
        
        <li class="nav-item text-nowrap">
            <button class="nav-link px-3 text-white"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSearch"
                    aria-controls="navbarSearch"
                    aria-expanded="false"
                    aria-label="Toggle search">
                <svg class="bi" aria-hidden="true">
                    <use xlink:href="#search"></use>
                </svg>
            </button>
        </li>
        <li class="nav-item text-nowrap">
            <button class="nav-link px-3 text-white"
                    type="button"
                    data-bs-toggle="offcanvas"
                    data-bs-target="#sidebarMenu"
                    aria-controls="sidebarMenu"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <svg class="bi" aria-hidden="true">
                    <use xlink:href="#list"></use>
                </svg>
            </button>
        </li>
    </ul>
    <div id="navbarSearch"
         class="navbar-search w-100 collapse">
        <input class="form-control w-100 rounded-0 border-0"
               type="text"
               placeholder="Search"
               aria-label="Search"> 
    </div>*@
</header>




<AuthorizeView>
    <Authorized>
        <div class="continer-fluid>">
            <div class="row">
                <div class="col-12">

                    <div class="AppHeader">
                        <div class="AppTitle merienda-font">
                            <a href="/"><h3 style="font-size:larger">@GetCompanyName()</h3></a>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <NavMenu />
                </div>
                <div class="col-9">
                    <div class="col-12">
                        <div class="SubHeading d-flex align-items-center">
                            <div class="p-1"><a type="button" href="/">Home</a></div>

                            <div class="ms-auto d-flex align-items-center">
                                <div class="p-1"><h5 class="SubHeading mb-0">Hello @GetAppUserName()</h5></div>
                                <div class="p-1">
                                    <span class="bg-info p-2 rounded-circle"
                                          type="button"
                                          data-bs-toggle="offcanvas"
                                          data-bs-target="#offcanvasRight"
                                          aria-controls="offcanvasRight">
                                        <i class="bi bi-gear text-white"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="left-side">
            
        </div>

        
            
       
        <ShowRightPane />

    </Authorized>
    <NotAuthorized>
        <div class="SubHeading d-flex align-items-center">
            <div class="p-1"><a href="/">Home</a></div>
            <div class="p-1 ms-auto"><h5 class="SubHeading">Hello Guest!</h5></div>
        </div>
    </NotAuthorized>
</AuthorizeView>

<footer class="footer">
    <div class="container-fluid h-100 d-flex justify-content-center align-items-center">
        <div class="row">
            <div class="col">
                Applied Software House V2.1.2
            </div>
        </div>

    </div>
</footer>

