@using AppliedAccounts.Data;
@using System.Security.Claims;

@inject AuthenticationStateProvider Authorized;

@code {
    private AppliedGlobals.AppUserModel AppUser { get; set; }
    private string? AppUserName { get; set; }
    private string? CompanyName;

    protected override void OnInitialized()
    {
        AppUser = ((UserAuthenticationStateProvider)Authorized).AppUser;
        CompanyName = AppUser.Company;
        AppUserName = AppUser.DisplayName;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await Task.Run(() =>
        {
            AppUser = ((UserAuthenticationStateProvider)Authorized).AppUser;
            CompanyName = AppUser.Company;
            AppUserName = AppUser.DisplayName;
            InvokeAsync(() => StateHasChanged());

        });
    }
    public string GetCompanyName() { return AppUser.Company ?? ""; }
    public string GetAppUserName() => AppUser.DisplayName ?? "";
}

<header class="navbar sticky-top bg-dark flex-md-nowrap p-0 shadow" data-bs-theme="dark">
    <div class="logo-img">
        <img src="Images/ASH3.png" class="img-thumbnail brand-Width" alt="..." />
    </div>
    <div class="text-white font-monospace p-2">APPLIED SOFTWARE HOUSE</div>

    <div class="ms-auto d-flex align-items-center">
        <div class="justify-content-end text-white">
            @GetCompanyName()
        </div>
        <div class="p-1">
            <span class="p-2 rounded-circle"
                  type="button"
                  data-bs-toggle="offcanvas"
                  data-bs-target="#offcanvasRight"
                  aria-controls="offcanvasRight">
                <i class="bi bi-gear text-white"></i>
            </span>
        </div>
    </div>

</header>


<style>
    .navbar {
        max-height: 60px;
    }

    .brand-Width {
        min-height: 60px;
        max-width: 60px;
    }

    .sidebar-width {
        max-height: var(--sidebarMin_Width);
        max-width: var(--sidebarMax_Width);
    }

</style>


<AuthorizeView>
    <Authorized>
        <div class="continer-fluid>">
           <div class="row">
                <div class="col-3 sidebar-width">
                    <NavMenu />
                </div>
                @* <SubHeading></SubHeading> *@
            </div>
        </div>

        <ShowRightPane />

    </Authorized>
    <NotAuthorized>
        <div class="SubHeading d-flex align-items-center">
            <div class="p-1"><a href="/">Home</a></div>
            <div class="p-1 ms-auto"><h5 class="SubHeading">Hello Guest!</h5></div>
        </div>
    </NotAuthorized>
</AuthorizeView>

<footer class="footer">
    <div class="container-fluid h-100 d-flex justify-content-center align-items-center">
        <div class="row">
            <div class="col">
                Applied Software House V2.1.2
            </div>
        </div>

    </div>
</footer>

