@using AppliedDB
@using Microsoft.AspNetCore.Components


@code {
    [Parameter] public List<CodeTitle> BrowseList { get; set; }
    [Parameter] public string InputValue { get; set; }
    [Parameter] public EventCallback<string> OutputValue { get; set; }

    public string SearchText = "";
    public List<CodeTitle> FilteredList { get; set; }

    protected override void OnInitialized()
    {
        FilteredList = BrowseList;
    }


    
    private void ChangeFilter(ChangeEventArgs e)
    {
        if (e.Value == null)
        {
            FilteredList = BrowseList;
            return;
        }

        var _filterText = e.Value.ToString().ToLower() ?? "";

        FilteredList = BrowseList.Where(x => x.Code.ToLower().Contains(_filterText) || x.Title.ToLower().Contains(_filterText)).ToList();


    }

    private void SelectValue(MouseEventArgs e)
    {
        OutputValue.InvokeAsync(InputValue);
    }


}

<style>
    #browseCodeTitle {
        width: 50%;
        height: 50%;
        position: fixed;
        top: 25%;
        left: 25%;
        margin: auto;
    }


    .modal-dialog {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }

    .modal-content {
        height: 100%;
    }


    .w1 {
        width: 40px;
    }
</style>


<!-- Browse Code title -->
<div class="tableContainer">
    <EditForm Model="BrowseList">
        <div class="modal modal-fullscreen" id="browseCodeTitle" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="container">
                            <div class="row filter" id="searchFilter">
                                <div class="col">
                                    <InputText @bind-Value="@SearchText" @oninput="ChangeFilter"></InputText>
                                    <label>Search</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">


                        <div class="container mt-3">
                            <div class="table-responsive">
                                <table id="browsTable" class="table table-striped table-hover table-bordered text-center">
                                    <thead class="table-light">
                                        <tr>
                                            <th style="width: 25%;">Code</th>
                                            <th style="width: 70%;">Title</th>
                                            <th style="width: 5%;">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in FilteredList)
                                        {
                                            <tr>
                                                <td>@item.Code</td>
                                                <td>@item.Title</td>
                                                <td>
                                                    <button 
                                                        type="button" 
                                                        class="btn btn-outline-primary btn-sm w1" 
                                                        data-bs-dismiss="modal" 
                                                        @onclick="((e) => SelectValue(e))">
                                                        <i class="fa-solid fa-circle-check"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Select</button>
                    </div>
                </div>
            </div>
        </div>
    </EditForm>
</div>