@inherits LayoutComponentBase


<PageTitle>APPLIED</PageTitle>

<div class="container-fluid">
    <header>
        <h1 style="color:red">App has Error.</h1>
    </header>


    <content>
        @Body
    </content>
</div>
