@inherits LayoutComponentBase



<PageTitle>APPLIED</PageTitle>




<div class="container-fluid">
    <header>
        <AppHeader />
    </header>
    

    <content>
        @Body
    </content>
</div>

