@inherits LayoutComponentBase


<PageTitle>APPLIED</PageTitle>

<div class="container-fluid">
    <header>
        <AppHeader />
    </header>




    <content>
        <div class="HomeDiv">
            <div id="FullContainer" style="overflow:auto;">
                @Body
            </div>
        </div>
    </content>
</div>


<style>
    .HomeDiv {
        width: 100%;
        height: 100vh;
        background-image: url("/Images/Accounts3.jpg"); /* Fixed the invalid value */
        background-size: cover; /* Ensures the image covers the entire div */
    }
</style>