@layout HomeLayout
@using AppliedAccounts.Pages.Dashboard
@using AppliedAccounts.Data.ChartData
@using AppliedAccounts.Services
@inject NavigationManager NavManager
@inject AuthenticationStateProvider authStateProvider
@inject IJSRuntime js
@inject GlobalService AppGlobal
@using AppliedDB;

@code {

    public AppUserModel? AppUser { get; set; }
    public bool IsAdmin { get; set; } = false;
    private bool IsSidebarVisible { set; get; } = true;
    private bool _jsReady;

    protected override void OnInitialized()
    {
        if (AppGlobal.UserRole == "Administrator")
        {
            IsAdmin = true;
        }
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await Task.Delay(100);
        if (firstRender)
        {
            _jsReady = true;
        }
    }

    private async Task Beep()
    {
        await js.InvokeVoidAsync("playBeep");
    }

    public async Task Logout()
    {

        var AppAuthState = (UserAuthenticationStateProvider)authStateProvider;
        await AppAuthState.UpdateAuthonticateState(null);
        NavManager.NavigateTo($"/", true);
    }

    private void SideBarClose()
    {
        IsSidebarVisible = !IsSidebarVisible;
    }

    public void Login() => NavManager.NavigateTo("/Users/Login");
    public void LogOut() => Task.Run(() => Logout());

    public async Task Home()
    {
        if (_jsReady)
        {
            Console.WriteLine("playBepp is ready yet.");
            await js.InvokeVoidAsync("playBeep");
            await Task.Delay(1500); // optional, gives time for beep
            NavManager.NavigateTo("/", true);
        }
        else
        {
            Console.WriteLine("JS not ready yet.");
        }
    }

    public void Inventory() { NavManager.NavigateTo($"/Menu/Stock", true); }
    public void Production() { NavManager.NavigateTo($"/Menu/Production", true); }
    public void Purchase() { NavManager.NavigateTo($"/Menu/MenuPurchase", true); }
    public void Payroll() { NavManager.NavigateTo($"/Menu/Payroll", true); }
    public void Taxation() { NavManager.NavigateTo($"/Menu/Taxation", true); }
    public void Admin() { NavManager.NavigateTo($"/Menu/Admin", true); }
    public void Config() { NavManager.NavigateTo($"/Config", true); }
    public void Accounts() { NavManager.NavigateTo($"/Menu/Accounts", true); }
    public void Sale() { NavManager.NavigateTo($"/Menu/Sale", true); }
    public void Import() { NavManager.NavigateTo($"/ImportCOA", true); }
}

<style>
    .sidebar {
        min-width: var(--sidebarMin_Width);
        max-width: var(--sidebarMax_Width);
    }

    .mw {
        min-width: var(--sidebarMnu_Width);
        max-width: var(--sidebarMnu_Width);
    }
</style>



@if (IsSidebarVisible)
{
    <div class="sidebar">
        <div class="menus">
            <button type="submit" id="btn-Home" class="btn-Menu mw" @onclick="Home">Home</button>
            @if (AppGlobal.UserID == "CDC")
            {
                <CDCMenu></CDCMenu>
            }
            else
            {
                <button type="submit" class="btn-Menu mw" id="btn-account" @onclick="async () => { await Beep(); Accounts(); }">Accounts</button>
                <button type="submit" class="btn-Menu mw" id="btn-Sale" @onclick="Sale">Sale</button>
                <button type="submit" class="btn-Menu mw" id="btn-Purchase" @onclick="Purchase">Purchase</button>
                <button type="submit" class="btn-Menu mw" id="btn-Stock" @onclick="Inventory">Stock</button>
                <button type="submit" class="btn-Menu mw" id="btn-Production" @onclick="Production">Production</button>
                <button type="submit" class="btn-Menu mw" id="btn-Payroll" @onclick="Payroll">Payroll</button>
                <button type="submit" class="btn-Menu mw" id="btn-Taxation" @onclick="Taxation">Taxation</button>
                <button type="submit" class="btn-Menu mw" id="btn-Admin" @onclick="Admin">Admin</button>
            }

            @if (IsAdmin)
            {
                <button type="submit" class="btn-Menu mw" id="btn-config" @onclick="Config">Config</button>
                <button type="submit" class="btn-Menu mw" id="btn-import" @onclick="Import">Import</button>
            }

            <button type="submit" class="btn-Menu mw" id="btn-logout" @onclick="LogOut">Logout</button>
        </div>
    </div>
}

<div class="main-content">
    @if (AppUser?.UserID == "CDC")
    {
        <HomeDBoard></HomeDBoard>
    }
</div>

@if (AppUser?.UserID == "CDC")
{
    <HomeDBoard></HomeDBoard>
}




