@inherits LayoutComponentBase

<div class="pageLayout">
    Applied Software House
</div>
<div class="col-12">
    @Body
</div>

<style>
    .pageLayout{
        position:sticky;
        height:25px;
        text-align:center;
    }
</style>