@code {
    [Parameter]  public string Message {get; set;}
}


<div class="container">
    <div class="row mt-5 bg-light">
        <div class="d-flex align-items-center">
            <strong role="status" class="text-info">@Message ...</strong>
            <div class="spinner-border text-info ms-auto" aria-hidden="true"></div>
        </div>
    </div>
</div>