@inherits LayoutComponentBase


<PageTitle>APPLIED</PageTitle>

<div class="container-fluid">
    <header>
        @* <AppHeader /> *@
        @* <NavMenu/> *@
    </header>

    <content>
        <div class="HomeDiv">
            <div id="FullContainer" style="overflow:auto;">
                @Body
            </div>
        </div>
    </content>
</div>

