@inherits LayoutComponentBase
@using AppliedAccounts.Pages.HomePage



<AppHeader />
<div>
    @Body
</div>

@* <div class="container-fluid">
    <header>
        <AppHeader/>
    </header>
    <content>
        <div class="HomeDiv">
            <div id="FullContainer" style="overflow:auto;">
                @Body
            </div>
        </div>
    </content>
    <AppFooter />
</div>
 *@