@page "/Menu/HR"
@attribute [Authorize]
@inject GlobalService AppGlobal
@using Menus;


@code {
    public Menus.MenusClass MenusClass { get; set; } = new();

    protected override void OnInitialized()
    {
        var _HRMenu = MenusClass.GetMenu(MenuEnum.Menus.HR);
        MenusClass.TopSelected(_HRMenu!, true);
    }
}

<div class="container-fluid">
    <div class="row">
        <div class="part-1">
            <MainMenu MenuClass="MenusClass" />
        </div>
        <div class="part-2">

            <p>Welcome Applied Accounts V2<a href="#"></a></p>
            <p>Accounts Page Authorized<a href="#"></a></p>
        </div>
    </div>
</div>

<p>Transaction Menu</p>