@page "/Menu/Sale"
@attribute [Authorize]
@inject GlobalService AppGlobal
@using Menus;


@code {
    public Menus.MenusClass MenusClass { get; set; }

    protected override void OnInitialized()
    {
        MenusClass = new();
        var _AccountMenu = MenusClass.GetMenu(MenuEnum.Menus.Sale);
        MenusClass.TopSelected(_AccountMenu!, true);
    }
}

<div class="container-fluid">
    <div class="row">
        <div class="part-1">
            <MainMenu MenuClass="MenusClass" />
        </div>
        <div class="part-2">

            <p>Welcome Applied Accounts V2<a href="#"></a></p>
            <p>Sales Page Authorized<a href="#"></a></p>
        </div>
    </div>
</div>

<p>Transaction Menu</p>



















@* @attribute [Authorize];
@inject NavigationManager NavManager;

@code {
    public void SalePage() { NavManager.NavigateTo("/Sale/SaleInvoiceList");}
    public void ShowGraph() {NavManager.NavigateTo("/dashboard");}

}


<div class="container mt-3">
    <div class="row">
        <div class="col-12 align-content-between">
            <div class="card" style="width: 18rem;">
                <img src="./images/Cards/Sale.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Sale</h5>
                    <p class="card-text">Sales refers to the exchange of a product, commodity, service or delivery for money. It involves helping prospective clients or customers by listening to them and understanding their wants and needs to find them what they're looking for.. </p>
                    <button type="submit" id="btn-page" class="btn btn-primary" @onclick="SalePage">Click</button>
                </div>
            </div>
        </div>
    </div>

     <div class="row">
        <div class="col-12 align-content-between">
            <div class="card" style="width: 18rem;">
                <img src="./images/Cards/Sale.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Sale</h5>
                    <p class="card-text">Sales refers to the exchange of a product, commodity, service or delivery for money. It involves helping prospective clients or customers by listening to them and understanding their wants and needs to find them what they're looking for.. </p>
                    <button type="submit" id="btn-page" class="btn btn-primary" @onclick="ShowGraph">Click</button>
                </div>
            </div>
        </div>
    </div>
</div>

 *@