@page "/Stock/Directory/{TableName}"
@using AppliedAccounts.Component.ButtonsDictionery
@using AppliedAccounts.Libs

@inject GlobalService AppGlobal

@inject IToastService ToastService

@code {
    [Parameter] public string? TableName { get; set; }

    private string SubHeadingTitle { get; set; } = "Stock Sub Heading";
    protected override void OnInitialized()
    {
        if (!string.IsNullOrEmpty(TableName))
        {
            LoadData(TableName);
        }
        else
        {
            MsgClass.Critical("No Directory Name Found");
        }

    }
}

<PageHeading Text="@SubHeadingTitle" />
<ShowMessages MsgClass="MsgClass"></ShowMessages>

<EditForm Model="MyModel">
    @if (EditMode)
    {
        <input @bind-value="MyModel.ID" hidden />

        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-floating">
                        <InputText class="form-control" id="txtCode" placeholder="Code" @bind-Value="MyModel.Code"></InputText>
                        <label for="txtCode">Code</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-floating">
                        <InputText class="form-control" id="txtTitle" placeholder="Title" @bind-Value="MyModel.Title"></InputText>
                        <label for="txtTitle">Code</label>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="filter">
                    <!-- Control Buttons-->
                    <div class="container mt-2 mb-2">
                        <div class="row">
                            <div class="col d-flex justify-content-between align-items-center">
                                @if(!IsDeleted)
                                {
                                    <Btn1_Save OnClick="Save"/>
                                }
                                else
                                {
                                    <Btn1_Delete OnClick="(async () => await Delete(MyModel.ID))" />
                                }

                                <Btn1_Back NavTo="@GetBackPath()" />
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    }
    else
    {
        @if (StockDirectoryList.Count > 0)
        {
            <div class="container">
                <table class="table-list">
                    <thead>
                        <tr>
                            <th style="width:20%">Code</th>
                            <th style="width:60%">Title</th>
                            <th style="width:100px"><Btn1_New OnClick="New"/></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in StockDirectoryList)
                        {
                            @if (item.ID == 0) { continue; }

                            <tr>
                                <td>@item.Code</td>
                                <td>@item.Title</td>
                                <td clas class="tb-col-left" s="td-btn">
                                    <Btn_Edit OnClick="(async () => await Edit((long)item.ID))" />
                                    <Btn_Delete OnClick="(async () => await Edit((long)item.ID, true))" />
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }

    

        
    }
</EditForm>