@page "/Accounts/Books"
@attribute [Authorize];
@using AppliedAccounts.Libs;
@using AppliedAccounts.Models;
@using AppliedAccounts.Data;
@using AppliedDB
@using System.Data

@inject AuthenticationStateProvider authStateProvider;
@inject NavigationManager NavManager;
@inject IJSRuntime js


@code {
    private string BookTitle = "Book Title";
    private string UserRoll;
    private string DateFormat = Format.DDMMYY;
    private string CurrFormat = Format.Currency;
    private decimal Tot_DR = 0.0M; 
    private decimal Tot_CR = 0.0M; 

    protected override void OnInitialized()
    {
        
    }
}

<div class="PageHeading">
    <h3>@BookTitle</h3>
</div>

<div class="row-Filter">
    <div class="col">
        <input type="text" class="form-control" placeholder="Search" />
    </div>
</div>