@inject NavigationManager NavManager;
@using System.Data;


@code {
    [Parameter]
    public string Title { get; set; } = string.Empty;

    [Parameter]
    public string NavTo { get; set; } = string.Empty;
     

    public void Edit()
    {
        

        if (NavTo.Length > 0)
        {
            NavManager.NavigateTo(NavTo);
        }
    }
}

<style>
    .btn-edit {
        color: blue;
        border: 1px;
        padding: 2px;
        margin: 3px;
    }
</style>

<button type="button" id="btn-edit" title=@Title class="btn btn-link">
    <i class="bi bi-pencil-fill"></i>
</button>