
@using AppliedAccounts.Component

@code {
    [Parameter]
    public string Text { get; set; } = "....:Page Heading:...";
    
    [Parameter]
    public string BackButtonNavTo { get; set; } = "/";
    
    [Parameter]
    public bool ShowBackButton { get; set; } = true;
}

<style>
#Heading{
    background-color:purple;
    color:white;
    font-family:Calibri;
    padding:0px;
    margin:0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: relative; */
}
.back-button-container {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}
</style>

<div class="container-fluid m-0 p-0">
    <div class="row p-0 g-0 position-relative">
        @if (ShowBackButton)
        {
            <div class="back-button-container">
                <Btn_Back NavTo="@BackButtonNavTo" />
            </div>
        }
        <h3 id="Heading" class="text-center w-100">@Text</h3>
    </div>
</div>