
@code {
    [Parameter]
    public string Text { get; set; } = "....:Page Heading:...";
}

<style>
#Heading{
    background-color:purple;
    color:white;
    font-family:Calibri;
}
</style>

<div class="container-fluid m-0 p-0">
    <div class="row">
        <h3 id="Heading" class="text-center">@Text</h3>
        <p class=""></p>
    </div>

</div>