@using AppReports;
@inject NavigationManager NavManager;

@code {
    [Parameter]
    public ReportModel PrintingModel { get; set; } = new();

    public bool IsPrintModelAssigned { get; set; } = true;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        if (PrintingModel == null)
        {
            IsPrintModelAssigned = false;
        }
    }

    public void Print(ReportType _ReportType)
    {
        #region Errors / Validation of Print Report (return id this condition found....)
        if (PrintingModel.InputReport.FileFullName.Length == 0) { return; } // Report name not mention to print return here.
        if (PrintingModel.OutputReport.FileFullName.Length == 0) { return; } // Report name not mention to print return here.
        if (PrintingModel.ReportData.ReportTable is null) { return; } 
        if (PrintingModel.ReportData.ReportTable.Rows.Count ==0) { return; } 
        #endregion

        #region Printing a report

        if (PrintingModel.ReportRender())         // Render a report for preview or download...
        {
            if (PrintingModel.OutputReport.ReportType == ReportType.HTML || PrintingModel.OutputReport.ReportType == ReportType.Preview)
            {
                var ReportLink = PrintingModel.OutputReport.GetFileLink();
                NavManager.NavigateTo(ReportLink, true);
            }
            else
            {
                var FileName = $"{PrintingModel.OutputReport.FileName}{PrintingModel.OutputReport.FileExtention}";
              
                //return File(PrintingModel.ReportBytes, PrintingModel.OutputReport.MimeType, FileName);
            }
        }
        #endregion

    }
}

@if (IsPrintModelAssigned)
{
    <div class="dropdown">
        <button type="button" title="Print" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
            <i class="bi bi-printer"></i>
        </button>
        <ul class="dropdown-menu">
            <li><button type="submit" id="print-1" class="btn btn-link border-0" @onclick="() => Print(AppReports.ReportType.Preview)">Preview</button></li>
            <li><button type="submit" id="print-2" class="btn btn-link border-0" @onclick="() => Print(AppReports.ReportType.PDF)">PDF</button></li>
            <li><button type="submit" id="print-3" class="btn btn-link border-0" @onclick="() => Print(AppReports.ReportType.Excel)">Excel</button></li>
            <li><button type="submit" id="print-4" class="btn btn-link border-0" @onclick="() => Print(AppReports.ReportType.Word)">Word</button></li>
            <li><button type="submit" id="print-5" class="btn btn-link border-0" @onclick="() => Print(AppReports.ReportType.HTML)">HTML</button></li>
        </ul>
    </div>
}
else
{
    <button type="submit" id="print-error" class="btn btn-link border-0"><i class="bi bi-question-circle"></i></button>
}
