@using Microsoft.AspNetCore.Components

@code {
    [Parameter]
    public EventCallback<MouseEventArgs> OnClick { get; set; }

    private async Task HandleClick(MouseEventArgs e)
    {
        if (OnClick.HasDelegate)
        {
            await OnClick.InvokeAsync(e);
        }
    }
}


<button class="btn btn-link btn-sm text-danger" @onclick="HandleClick">
    <i class="bi bi-trash"></i>
</button>

