@code {
    [Parameter]
    public EventCallback<MouseEventArgs> OnClick { get; set; }

    private async Task HandleClick(MouseEventArgs e)
    {
        if (OnClick.HasDelegate)
        {
            await OnClick.InvokeAsync(e);
        }
    }
}


<button class="btn btn-link text-success btn-sm" @onclick="HandleClick">
    <i class="bi bi-floppy2"></i>
</button>

