@page "/ClickMenus"
@page "/ClickMenus/{_SelectedMenu}"
@attribute [Authorize]
@inject GlobalService AppGlobal
@using AppliedAccounts.Pages.Menu
@using Menus;

@code {
    [Parameter] public MenuEnum.Menus _SelectedMenu {get; set;}

    public Menus.MenusClass MenusClass { get; set; }

    protected override void OnInitialized()
    {
        MenusClass = new();
        var _AccountMenu = MenusClass.GetMenu(_SelectedMenu);
        MenusClass.TopSelected(_AccountMenu!, true);
    }
}

<div class="container-fluid">
    <div class="row">
        <div class="part-1">
            <MainMenu MenuClass="@MenusClass" />
        </div>
        <div class="part-2">

            <p>Welcome Applied Accounts V2<a href="#"></a></p>
            <p>Sales Page Authorized<a href="#"></a></p>
        </div>
    </div>
</div>

<p>@_SelectedMenu.ToString() Menu</p>
