
@code {
    [Parameter] public string PageTitle { get; set; } = string.Empty;

}

<div class="PageHeading">
    <h2>@PageTitle</h2>
</div>

<style>
    .PageHeading {
        background-color: blueviolet;
        border-top: solid 1px;
        border-bottom: solid 1px;
        text-align: center;
        vertical-align: middle;
        justify-items: center;
        color: white;
        margin: 3px;
        height: 35px;
        

    }

        .PageHeading h2 {
            margin: 0;
            padding: 0;
            font-family: "Exo 2", sans-serif;
            font-size:20pt;
        }

        
</style>