@code {

    [Parameter] public string SubHeadingText { get; set; }
}

<div class="col">
    <div class="col">
        <div class="SubHeading d-flex align-items-center">
            <div class="p-1"><a type="button" href="/">Home</a></div>
        </div>
    </div>
</div>