.root {
    --applied-pageheight: 100vh
}

.table-container {
    width: 100%;
    overflow: auto; /* Enables scrolling */
    border: 1px solid #ccc; /* Optional border */
}

.table-list {
    display: table;
    overflow-x: auto;
    width: 100%; /* Adjust width as needed */
    border: 2px solid green;
    border-collapse: collapse;
   
}


    .table-list thead {
        height: 50px;
    }

        .table-list thead tr {
            background-color: #96D4D4;
        }

            .table-list thead tr th {
                background-color: #96D4D4;
                color: darkmagenta;
                text-align: center;
            }

    .table-list tbody {
        background-color: lightgoldenrodyellow;
        color: darkblue;
        font-size: small;
        text-align: center;
    }

        .table-list tbody tr td {
            background-color: antiquewhite;
            padding: 8px;
            border: 1px solid;
            border-color: #96D4D4
        }

    .table-list tfoot {
        background-color: brown;
        height: 25px;
    }

        .table-list tfoot tr {
            background-color: antiquewhite;
        }

            .table-list tfoot tr td {
                background-color: burlywood;
                padding: 5px;
                border: 1px solid black;
            }



.tb-row-center {
    text-align: center
}


.tb-col-left {
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
}

.tb-col-center {
    text-align: center;
}

.tb-col-right {
    text-align: right;
    padding-left: 5px;
    padding-right: 5px;
}

.
.tb-body-row {
}

.tb-body-row-del {
    background-color: grey;
    color: white;
    border-color: inherit;
    border-style: solid;
    border-width: 1px;
}




.tb-btn-add {
    width: 30px;
    height: 30px;
    background-color: forestgreen;
    color: white;
}



.table-list-head {
    background-color: darkblue;
    color: ghostwhite;
}

.table-list-body {
    background-color: linen;
    color: darkslateblue;
}

.table-list-foot {
    background-color: darkgoldenrod;
    color: ghostwhite;
}

th-btn {
    display: flex;
    justify-content: center
}


th-btn-new {
    width: auto;
}


.td-btn {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center; /* Center vertically as well */
}

th .btn {
    margin: 0;
    padding: 6px 12px;
    font-size: 14px;
    cursor: pointer;
}

    th .btn:hover {
        background-color: #218838; /* Darken on hover for better visibility */
    }

.amount {
    text-align: right;
    padding-right: 13px;
    margin-right: 5px;
}

.amount-red {
    color: red;
    text-align: right;
}

.amount-blue {
    color: blue;
    text-align: right;
}

.amount-green {
    color: green;
    text-align: right;
}

.amount-width {
    width: 100px;
    text-align: right;
}

.amount-w10 {
    width: 10%;
    text-align: right;
}

.amount-w15 {
    width: 15%;
    text-align: right;
}

.right {
    text-align: right;
}

.chkbox-digit {
    justify-content: center;
    text-align: center;
    align-content: center;
}


/* Table Message */

.table-message{
    width: 100%;
    background-color:lightgray
}

.table-message tbody tr td{
    color:darkgoldenrod;
}