@using Microsoft.AspNetCore.Components

@code {
    [Parameter]
    public EventCallback<MouseEventArgs> OnClick { get; set; }

    private async Task HandleClick(MouseEventArgs e)
    {
        if (OnClick.HasDelegate)
        {
            await OnClick.InvokeAsync(e);
        }
    }
}

<div class="p-2 ms-auto">
    <button type="button" class="btn btn-sm w1 btn-warning" title="Back" @onclick="HandleClick">
        <i class="bi bi-arrow-left-circle"></i>
    </button>
</div>