@page "/Menu/Inventory"
@page "/Menu/Stock"
@attribute [Authorize]
@inject GlobalService AppGlobal
@using Menus;


@code {
    public Menus.MenusClass MenusClass { get; set; }

    protected override void OnInitialized()
    {
        MenusClass = new();
        var _StockMenu = MenusClass.GetMenu(MenuEnum.Menus.Stock);
        MenusClass.TopSelected(_StockMenu!, true);
    }
}

<div class="container-fluid">
    <div class="row">
        <div class="part-1">
            <MainMenu MenuClass="MenusClass" />
        </div>
        <div class="part-2">

            <p>Welcome Applied Accounts V2<a href="#"></a></p>
            <p>Accounts Page Authorized<a href="#"></a></p>
        </div>
    </div>
</div>

<p>Stock Menu</p>






















@attribute [Authorize];
@inject NavigationManager NavManager;



@code {
    public void Stock()
    {
        NavManager.NavigateTo("/Stock/StockList", true);
    }
}



<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card" style="width: 18rem;">
                <img src="./images/Cards/Inventory.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Inventories</h5>
                    <p class="card-text">Stock is the supply of finished goods available for sale, and inventory includes both finished goods and components that create a finished product. In other words, all stock is inventory, but not all inventory is stock.</p>
                    <button class="btn btn-primary" @onclick="Stock">Click</button>
                </div>
            </div>
        </div>

    </div>
</div>



